body{
  margin: 0px;
  padding: 0px;
  background: url("images/unsplash1.jpg") center; 
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.dash-container {
  height: 99.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard{
  width: 700px;
  height: 650px;

  border-radius: 12px;
  opacity: 0.95;
  background-color:rgb(134, 152, 169);

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 35% 45%;
  grid-template-areas: 
  "form form"
  "content content"
  "forecast forecast";
}

.dashboard-form{
  grid-area: form;
  padding: 20px;
  font-size: 1em;
}
#search-header{
  font-size: 2em;
}
.dashboard-form input{
  border-radius: 12px;
  border: 1px solid slategrey;
  width: 80%;
  height: 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.dashboard-content{
  grid-area: content;
  padding: 10px;
  position: relative;
}
#dash-header{
  position: absolute;
  top: -10px;
  left: 20px;
}
.dashboard-content-grid{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 40%;
  grid-template-areas: 
  "left right"
  "bottom bottom"
  ;
}
.dash-cont-left{
  grid-area: left;
  padding: 0px 20px;
}
.dash-cont-right{
  grid-area: right;
  padding: 0px 20px;
}
.dash-cont-bottom{
  padding: 0px 20px;
  grid-area: bottom;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dashboard-forecast{
  grid-area: forecast;
  padding: 10px;
  position: relative;
}
#forecast-header{
  position: absolute;
  top: -10px;
  left: 20px;
}
#dashboard-forecast-grid{
  margin-top: 40px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(8, 14%);
  grid-template-rows: 100%;
}