body{
  margin: 0px;
  padding: 0px;
  background: url("images/unsplash1.jpg") center; 
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
main{

}
.dash-container {
  border: 1px solid black;
  height: 99.7vh;

  display: flex;
  align-items: center;
  justify-content: center;

}
.dashboard{
  width: 650px;
  height: 500px;

  border-radius: 12px;
  opacity: 0.8;
  background-color:slategray;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas: 
  "form form"
  "content content"
  "forecast forecast";
}

.dashboard-form{
  grid-area: form;
  padding: 16px;
  font-size: 1em;
}
#search-header{
  font-size: 2em;
}
.dashboard-form input{
  border-radius: 12px;
  width: 80%;
  height: 30px;

  background-color: black;
  color: whitesmoke;
}

.dashboard-content{
  grid-area: content;
  padding: 20px;
}
.dashboard-content-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
  "left right"
  "bottom bottom"
  ;

}
.dash-cont-left{
  grid-area: left;
}
.dash-cont-right{
  grid-area: right;
  /* display: flex;
  flex-direction: column; */
}
.dash-cont-bottom{
  grid-area: bottom;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dashboard-forecast{
  grid-area: forecast;
  padding: 20px;

}
/* .dashboard-content-grid{
  display: grid;
  grid-template-columns: repeat(7, 14.2%);
  grid-template-rows: 100%;
  grid-template-areas: 
  "day1 day2 day3 day4 day5 day6 day7"
  ;
} */