body{
  margin: 0px;
  padding: 0px;
  background: url("images/unsplash1.jpg") center; 
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
main{

}
.dash-container {
  border: 1px solid black;
  height: 99.7vh;

  display: flex;
  align-items: center;
  justify-content: center;

}
.dashboard{
  width: 650px;
  height: 500px;

  border-radius: 12px;
  opacity: 0.8;
  background-color:slategray;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 30% 50%;
  grid-template-areas: 
  "form form"
  "content content"
  "forecast forecast";
}

.dashboard-form{
  grid-area: form;
  padding: 16px;
  font-size: 1em;
}
#search-header{
  font-size: 2em;
}
.dashboard-form input{
  border-radius: 12px;
  width: 80%;
  height: 30px;

  background-color: black;
  color: whitesmoke;
}

.dashboard-content{
  grid-area: content;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.dashboard-forecast{
  grid-area: forecast;

  padding: 20px;
}