/* Flexbox Part 1 */

#flex-section1 ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-decoration: none;
	list-style: none;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: -35px;
}

/* end Flexbox Part 1 */


/* Flexbox Part 2 */

#flex-section2 ul {
	display: flex;
	justify-content: center;
	text-decoration: none;
	list-style: none;
	margin: 1px;
	margin-left: -37px;
}

#flex-section2 li {
	flex-flow: row nowrap;
}

#flex-section2 .item1 {
order: 1;
flex: 1 0 230px;

}

#flex-section2 .item2 {
order:3;
flex: 1 1 auto;


}

#flex-section2 .item3 {
	order: 2;
	flex: 1 0 230px;
}

/* end Flexbox Part 2 */


/* Flexbox Part 3 */

#flex-section3 .box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

#flex-section3 .tags ul {
	display: flex;
	margin: 1px;
	margin-left: -37px;
	flex-flow: row wrap;
	justify-content: flex-start start left;
	align-items: center;
	align-content: center;
	text-decoration: none;
	list-style: none;
}

/* end Flexbox Part 3 */


/* Grid Part 1 */

#grid-section1 .grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 100px;
	gap: 20px;
}

/* end Grid Part 1 */


/* Grid Part 2 */

#grid-section2 .gridboxblue {
	grid-column: 2/4;
	grid-row: 1/4;
}

#grid-section2 .gridboxred {
	grid-column:1/3 ;
	grid-row: 2/3;
}

/* end Grid Part 2 */


/* Grid Part 3 */

#grid-section3 .grid {
	display: grid;
	grid-template-columns:2fr 1fr ;
	grid-template-rows: 100px 300px 100px ;
	gap: 10px ;
	grid-template-areas: 
	"h h "
	"m s"
	"f f ";
}

#grid-section3 .box1 {
	grid-area: h;
}

#grid-section3 .box2 {
	grid-area: s;

}

#grid-section3 .box3 {
	grid-area: m;

}

#grid-section3 .box4 {
	grid-area: f;
}

/* end Grid Part 3 */


/* Transition Part */

#transition-section .box a {
	display: inline-block;
	background-color: #ccc;
	color: #000;
	padding: 20px;
	text-decoration: none;
	transition: 3s;

}

#transition-section .box a:hover {
	background-color: #cc0000;
	color: #fff;
	transition: .5s;


}

/* end Transition Part */