body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-wrapper{
  background-color: antiquewhite;
  border: 2px solid gainsboro;
  margin-top: 25px;
  padding: 25px;
}