body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.image-container{
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  background-image: url("images/restuarant.jpg");
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
.form-wrapper{
  color: black;
  background-color: rgb(250, 242, 242);
  margin-top: 25px;
  padding: 25px;
  opacity: 0.90;
}